---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About</title>
    </head>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <body>
        <h1>This is Neelbits' blog page</h1>
        <h1>This site is undergoing a surgery</h1>
        <p>
            I am currently learning astro,to rebuild my blog with extreme
            customisations with the help of Astro.This page is supposed to be my
            blog. Let's see how far we can go!
        </p>
        <p>
            Hope you'll follow along with the journey!Things are about to get
            very spicy
        </p>
        <ul>
            <li><a href="/posts/intro/">Post 1</a></li>
            <li><a href="/posts/intro2/">Post 2</a></li>
            <li><a href="/posts/intro3/">Post 3</a></li>
        </ul>
        <h2>Hello Neel</h2>
    </body>


</html>
