---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import "../styles/global.css";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>This site is undergoing a surgery</h1>
    <p>
        I am currently learning astro,to rebuild my blog with extreme
        customisations with the help of Astro.This page is supposed to be my
        blog. Let's see how far we can go!
    </p>
    <p>
        Hope you'll follow along with the journey!Things are about to get very
        spicy
    </p>
    <ul>
        {
            allPosts.map((post: any) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
